{% extends 'base.html.twig' %}
{% block body %}
<div class="header">
   <h2>Todo List</h2>
</div>
     
      <form  action="{{path('create_task')}}" method="post">
        <input class="input-id" type="text" name="id" placeholder="ID" />
        <input type="text" name="title" placeholder="Task title..." />
       <button type="submit" class="addBtn" id="submit">Add/Edit a task</button>
      </form>
   
      
    
<ul>
    {% for task in tasks %}
      
      <li {% if task.status %} class="checked"{% endif %}>

<div class="todo-container">
<div class="todo-list">
<a href="{{path('update_task', {'id': task.id})}}"> <span class="task-list-item">{{task.id}}<span> <span/>{{task.title}} </span> </a>
</div>
<div>
<a onclick="return confirm('Are you sure to delete?')" href="{{path('delete_task', {'id': task.id})}}"><span class="close"><i class="bi bi-trash3"></i></span></a>
</div>
</div>

</li>
    {% endfor %}
    </ul>
    
{% endblock %}